params {
  project_folder   = "$PWD"
  frip_output      = "frip_output"
  frip_samplesheet = null
  samples_master   = null
  chipfilter_output = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/pipelines/nf-chipfilter/chipfilter_output"
  idr_output       = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/pipelines/nf-idr/idr_output"
  peak_consensus_output = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/pipelines/nf-peak-consensus/peak_consensus_output"
  frip_peak_sources = "idr,consensus_q0.01,consensus_q0.05"
  idr_peak_suffix = "_idr.sorted.chr.narrowPeak"
  consensus_peak_suffix = "_consensus.bed"
  frip_include_controls = false

  container_frip = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/singularity_image/samtools-bedtools-py3.sif"
  queue = 'cpu_p'

  cpus   = 2
  memory = '8 GB'
  time   = '2h'
}

profiles {
  local { includeConfig 'configs/local.config' }
  hpc   { includeConfig 'configs/slurm.config' }
}
