params {
  project_folder   = "$PWD"
  frip_output      = "frip_output"
  frip_samplesheet = null

  container_frip = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/singularity_image/chipfilter-sam-bed.sif"
  queue = 'cpu_p'

  cpus   = 2
  memory = '8 GB'
  time   = '2h'
}

profiles {
  local { includeConfig 'configs/local.config' }
  hpc   { includeConfig 'configs/slurm.config' }
}
