process {
  executor = 'slurm'
  queue    = params.queue

  clusterOptions = '--qos=cpu_normal --nice=10000 --mail-type=END,FAIL --mail-user=sj.hpcnotification@gmail.com'

  cpus   = params.cpus
  memory = params.memory
  time   = params.time

  container = params.container_frip
}

singularity {
  enabled    = true
  autoMounts = true
}
