process {
  executor = 'slurm'
  queue    = params.queue

  clusterOptions = "--qos=cpu_normal --nice=10000 --mail-type=END,FAIL --mail-user=${params.mail_user}"

  cpus   = params.cpus
  memory = params.memory
  time   = params.time

  container = params.container_frip
  containerOptions = params.extra_mounts
}

singularity {
  enabled    = true
  autoMounts = true
}
